<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>First Class Shipping Cost</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css" />
  </head>
  <body>
    <h2>First Class Shipping</h2>
    <div class="form-format">


      <p>Weight: <%= weight %></p>

      <p>Shipping Type: <%= postalType %></p>

      <p>Cost: $<%= cost %></p>
    </div>

  </body>
</html>
